* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  /* background-image: url("../images/maxresdefault.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; */
}

header {
  position: relative;
}

.navbar {
  background-color: rgb(130, 196, 235);
  opacity: 1;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -100px;
  z-index: 999;
}

.home-bar {
  margin-left: 30px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-link {
  text-decoration: none;
  font-size: 30px;
  color: rgb(16, 53, 156);
  transition: 0.15s;
  cursor: pointer;
  opacity: 1;
  margin-right: 23px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.search-form {
  width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  font-size: 21px;
  width: 300px;
  max-width: 400px;
  padding: 13px 15px;
  border-radius: 10px;
  border: 2px solid black;
  margin-right: 10px;
  flex: 1;
  /* position: fixed;
    align-self: center; */
}

.search-button {
  font-size: 18px;
  padding: 9px 19px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.15s;
  border: none;
  /* position: fixed;
    align-self: center; */
}

.search-button:hover {
  background-color: rgb(100, 142, 231);
  color: white;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
}

.search-button:active {
  background-color: rgb(152, 178, 233);
}

.filter-container {
  position: relative;
}

.filter-toggle-button {
  margin-left: 10px;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.15s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-label {
  opacity: 0;
  visibility: hidden;
  background-color: rgb(56, 114, 240);
  width: 200px;
  height: auto;
  position: absolute;
  right: auto;
  left: auto;
  z-index: 9999;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px 15px 5px 15px;
}

.filter-label div {
  margin-bottom: 10px;
  font-weight: 700;
}

.filter-label div input {
  margin-right: 6.5px;
}

.filter-label div label {
  cursor: pointer;
  transition: 0.15s;
  user-select: none;
}

.filter-label div label:hover {
  color: white;
}

.filter-button {
  font-size: 18px;
  padding: 9px 19px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.15s;
  border: none;
  margin-left: -12px;
}

.filter-button:hover {
  background-color: rgb(100, 142, 231);
  color: white;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
}

.links {
  margin-right: 30px;
}

.signup-link,
.login-link,
.userpage-link,
.logout-link,
.addpost-link {
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.15s;
  font-weight: 700;
}

.signup-link,
.logout-link {
  margin-left: 24px;
  color: rgb(238, 50, 50);
  border: 2px solid rgb(238, 50, 50);
  padding: 10px 40px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
}

.userpage-link,
.addpost-link {
  color: rgb(71, 71, 238);
}

.signup-link:hover,
.login-link:hover,
.userpage-link:hover,
.logout-link:hover,
.addpost-link:hover {
  opacity: 0.8;
}

.signup-link:hover,
.logout-link:hover {
  background-color: red;
  color: white;
}

.signup-link:active,
.login-link:active,
.userpage-link:active,
.logout-link:active,
.addpost-link:active {
  opacity: 0.6;
}

.home-link:hover {
  opacity: 0.8;
}

.home-link:active {
  opacity: 0.6;
}

.addpost-link {
  margin-right: 18px;
}

.toggle-button {
  margin-right: 30px;
  cursor: pointer;
  font-size: 1.8rem;
  display: none;
  padding-top: 5px;
}

.toggle-button-image {
  transition: all 0.2s ease-in-out;
  width: 30px;
  height: auto;
}

.toggle-button-image:hover {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.toggle-button-image.rotate {
  transform: rotate(180deg);
}

.dropdown-menu {
  width: 200px;
  height: 130px;
  position: absolute;
  right: 25px;
  top: 75px;
  background-color: rgb(44, 101, 224, 0.5);
  border-radius: 12px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  opacity: 1;
  visibility: visible;
}

.dropdown-links {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.dropdown-links a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.15s;
  color: white;
  transition: 0.15s;
}

.dropdown-links a:hover {
  color: rgb(127, 225, 255);
}

@media (max-width: 1170px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle-button {
    display: block;
  }
}

main {
  padding-top: 120px;
}

.posts-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.posts-heading {
  margin-top: 8px;
  margin-bottom: -12px;
}

.posts {
  min-width: 50%;
  height: 100px;
  padding: 40px;
}

.post {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.1s;
  cursor: pointer;
  text-decoration: none;
}

.posts a {
  text-decoration: none;
  color: black;
}

.post:hover {
  background-color: rgb(246, 251, 255);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

.post:active {
  opacity: 0.6;
}

.hidden-filter {
  display: none;
  color: green;
}

#hidden-filter.search-label {
  margin-left: 30px;
}

.pictures-information-container {
  display: flex;
  justify-content: space-between;
}

.information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information-container p {
  margin-bottom: 30px;
}

.name {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 700;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 30px;
}

.image {
  overflow: hidden;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.images,
.description,
.tags,
.location,
.posted-date,
.comments,
.rating,
.comments-heading {
  margin-bottom: 10px;
  color: rgb(46, 46, 46);
}

.main-heading {
  margin-bottom: 12px;
  color: rgb(236, 57, 57);
}
