* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #bfeccc;
}

.header {
  height: 75px;
  background-color: #a4caaf;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -40px;
}

.home-link {
  text-decoration: none;
  font-size: 38px;
  color: white;
  transition: 0.15s;
}

.home-link:hover {
  opacity: 0.8;
}

.home-link:active {
  opacity: 0.6;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  max-width: 400px;
}

.sign-up-title {
  font-size: 30px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin-bottom: 32px;
}

.log-in-text {
  margin-bottom: 5px;
}

label {
  margin-bottom: 10px;
  color: #376596;
  font-size: 18px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#sign-up-button {
  font-size: 16px;
  width: 100%;
  transition: 0.15s;
  margin-bottom: 24px;
  box-shadow: 1px 1px 1px #5e9de0;
}

#sign-up-button:hover {
  opacity: 0.8;
}

#sign-up-button:active {
  opacity: 0.6;
}

.log-in-button {
  transition: 0.15s;
}

.log-in-button:hover {
  opacity: 0.8;
}

.log-in-button:active {
  opacity: 0.6;
}
