<header>
  <div class="header">
    <div class="home-bar">
      <a href="/" class="home-link">Home</a>
    </div>
    <div class="links">
      <a href="/login" class="login-link">Log In</a>
      <a href="/signup" class="signup-link">Sign Up</a>
    </div>
  </div>
</header>
<main>
  <div class="main-content">
    <form action="" class="search-form">
      <label for="search-bar" class="search-label">
        <input
          type="text"
          placeholder="Search For..."
          class="search-bar"
          value=""
        />
        <input type="submit" class="search-button" value="Search" />
      </label>
    </form>
  </div>
</main>