<form action="" method="POST">
  <p class="sign-up-title">Log In!</p>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" placeholder="Username" />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" placeholder="Password" />

  <label for="sign-up-button"></label>
  <input type="submit" id="sign-up-button" name="signUpButton" value="Log In" />
  <p class="already-text">Don't have an account?</p>
  <a href="/signup">Sign Up</a>
</form>