<form action="" method="POST">
	<label for="username">Username:</label>
	<input type="text" id="username" name="username" placeholder="Username">
	<label for="password">Password:</label>
	<input type="password" id="password" name="password" placeholder="Password">
    <label for="submit">Password:</label>
	<input type="submit" id="submit">Login</button>
	<p>Already have an account?</p>
	<a href="/login">Sign up here</a>
</form>


