<form action="" method="POST">
  <p class="sign-up-title">Sign Up!</p>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" placeholder="Username" />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" placeholder="Password" />

  <label for="sign-up-button"></label>
  <input
    type="submit"
    id="sign-up-button"
    name="signUpButton"
    value="Sign Up"
  />
  <p class="already-text">Already have an account?</p>
  <a href="/">Log In</a>
</form>